* {
	font-size: 20px;
}

h1 {
	font-size: 30px;
}

body {
background-color: #c4031a;
padding-left: 2em;	
}

h1 {
	color: #2072f7;
}

table {
	border-collapse: collapse;
	/*margin: 0px 150px 0px 150px;*/
	width: 21.5em;
	margin: 0.5em 0em;
}

table, th, td {
	border: 2px solid purple;
}

.weerfoto {
	bottom: 270px;
	left: 1100px;
	position: absolute;
	float: right;
}


.temperaturen {
	border: 1px solid black;
	width: 20em;
	padding: 0.5em 0.75em;
	border-radius: 0.5em;
}

.active {
	background-color: #333333;
	color: whitesmoke;
}


.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}